#body {
    background-color: #000080;
}

.container-fluid {
    justify-content: normal !important;
    flex-wrap: wrap;
}

.secciones {
    flex-direction: column;
}

footer {
    margin-top: 3%;
}

#botonCarrito {
    color: #000080;
    background-color: #FFFF00;
}

#barraNavegacion {
    background-color: #FFFF00;
}

#botonBusqueda {
    color: #FFFF00;
    background-color: #000080;
}

#descripcionProductoEscritorio {
    background-color: white;
    font-size: medium;
}

#descripcionProductoTablet {
    background-color: white;
    font-size: small;
}

#descripcionProductoMovil {
    background-color: white;
    font-size: xx-small;
}

#añadirCarritoEscritorio {
    font-size: medium;
}

#añadirCarritoTablet {
    font-size: small;
}

#añadirCarritoMovil {
    font-size: xx-small;
}

#ventanaModal {
    background-color: #000080;
    color: #FFFF00;
}

#text_navbar {
    text-decoration: none;
    color: #000080;
    font-size: 20px;
}

#text_menu {
    margin: 0px;
}

#boton_burguer_01 {
    border: solid 2px #000080;  
}

#boton_burguer_02 {
    border: solid 1px #000080;
}

#burguer_01 {
    background-color: #FFFF00;
    color: #000080;
}

#burguer_02 {
    background-color: #FFFF00;
    color: #000080;
}

#titulo_burguer {
    color: #000080;
    font-size: 25px;
}

#link_burguer {
    color: #000080;
    font-size: 20px;
}

#tituloFooterEscritorio {
    color: #FFFF00;
    margin: 0;
    font-size: medium;
}

#textFooterEscritorio {
    color: #FFFF00;
    margin: 0;
    font-size: small;
}

#tituloFooterTabletMovil {
    color: #FFFF00;
    margin: 0;
    font-size: x-small;
}

#textFooterTabletMovil {
    color: #FFFF00;
    margin: 0;
    font-size: xx-small;
}

#navbarBurguer {
    width: 100%;
}