#body{
    background-color: #000080;
}

.container-fluid{
    justify-content: normal !important;
    flex-wrap: wrap;
}

.secciones{
    flex-direction: column;
}

footer{
    margin-top: 3%;
}

#botonCarrito{
    color: #000080;
    background-color: #FFFF00;
}

#barraNavegacion{
    background-color: #FFFF00;
}

#botonBusqueda{
    color: #FFFF00;
    background-color: #000080;
}

#descripcionProductoEscritorio{
    background-color: white;
    font-size: medium;
}

#descripcionProductoTablet{
    background-color: white;
    font-size: small;
}

#descripcionProductoMovil{
    background-color: white;
    font-size: x-small;
}

#ventanaModal{
    background-color: #000080;
    color: #FFFF00;
}